@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --header: #d3d3d378;
    --text: #000;
    --box1: #0A6DA6;
    --box2: #FFD230;
    --box3: #75D481;
    --box4: #6D123F;
    --box5: #5740B6;
    --boxcolor: #fff;
    --iconcolor: #000;
    --sub_bg: #D3D3D378;
    --indexbg: #D3D3D3;
    --subtext: #000;
}

/* Dark Mode */

.darkmode {
    --header: #1C2120;
    --text: #d3d3d3;
    --box1: #042C42;
    --box2: #D7A800;
    --box3: #2e943c;
    --box4: #5b1035;
    --box5: #3b2c79;
    --boxcolor: #D3D3D3;
    --iconcolor: #d3d3d378;
    --sub_bg: #333b3a;
    --indexbg: #e7e5e5;
    --subtext: #000;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.header {
    background-color: var(--header);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header i {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.logo img {
    height: 15vw;
    width: 15vw;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    font-size: 30px;
    font-weight: 600;
    padding: 40px;
    text-decoration: none;
    color: var(--text);
}

.about {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main_about {
    background-color: var(--sub_bg);
}

.about a {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.875rem;
    text-decoration: none;
    color: var(--text);
}

.header a:hover {
    transition: 300ms ease-in-out;
    font-size: 1.61rem;
}

.colormode {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

.icon {
    color: var(--iconcolor);
}

/* Main box css */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/clouds.png);
    background-size: cover;
    height: 50vh;
}

.gif {
    position: absolute;
    top: 19%;
    right: 0%;
    width: 160px;
    height: 160px;
}

.bca {
    font-size: 10vh;
    font-weight: 549;
}

.low {
    background-color: var(--header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    font-weight: 800;
    font-size: 30px;
    color: var(--text);
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    /* text-decoration: none; */
    margin: 0;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box a{
    text-decoration: none;
}

.box h1 {
    font-size: 100px;
    color: var(--boxcolor);
}


.box p {
    font-weight: 600;
    font-size: 20px;
    color: var(--boxcolor);
}

.box1 {
    background-color: var(--box1);
}

.box2 {
    background-color: var(--box2);
}

.box3 {
    background-color: var(--box3);
}

.box4 {
    background-color: var(--box4);
}

.box5 {
    background-color: var(--box5);
}

footer {
    display: flex;
    justify-content: space-around;
    height: 32vh;
    background-color: #1C2120;
}

.footer_logo {
    height: 10vw;
    width: 10vw;
}

.fdiv p {
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
}

.fdiv a {
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    font-size: 15px;
    transition: 250ms ease-in-out;
}

footer i {
    margin-left: 10px;
}

/* About style sheet */

.blue_strip {
    height: 15vh;
    background-color: #0A6DA6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
}

.main_about {
    /* padding: 30px; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 110vh;
}

.box_about1,
.box_about2,
.box_about3,
.box_about4,
.box_about5 {
    
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 40vw;
    background-color: #38b6ff;
}




.img_about img {
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid black;
}


.p_about {
    margin-right: 150px;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    flex-direction: column;

}

.flex {
    margin-top: 10px;
    display: flex;
}

.p_about span {
    font-size: 20px;
}

.p_about a {

    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.p_about i {
    padding: 0px 5px 0px 5px;

}

.icon {
    display: flex;

}

/* Subject css */

main {
    background-color: var(--sub_bg);
    display: flex;

}

.index {
    width: 30vw;
    background-color: var(--indexbg);
    text-align: center;
    color: var(--subtext);
}

.index li {
    font-size: 15px;
}



.main_subject {
    padding: 40px;
    /* height: 130vh; */
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;

}

.card h2 {
    margin-bottom: 20px;
}

.card {
    margin: 10px;
    height: 500px;
    width: 300px;
    background-color: #38b6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_image {
    background-size: cover;
    height: 45%;
    width: 100%;
    background-color: #1C2120;
}

.card_image img {
    background-size: cover;

}

.card_content {
    padding: 10px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card button {
    border: none;
    color: white;
    background-color: #00456D;
    margin-bottom: 20px;
    font-size: 20px;
    width: 15vw;
    height: 4vh;
    padding: 3px;
}

.card button:hover {
    cursor: pointer;
    background-color: #00456dc9;
}

.index ol {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.index h1 {
    text-align: center;
    margin: 30px 0px;
}

.index li {
    /* padding: 1vh; */
    font-size: 20px;
}

.about img {
    display: none;
}

/* mobile nav bar css */

.toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0px;
    top: 10vh;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
/* *{
    overflow: hidden;
} */

    .dropdown {
        left: 2rem;
        width: unset;
        display: block;
    }

    .logo img{
        margin-top: 5px;
        height: 25vh;
        width: 50vw;
    }

    .nav,
    .about {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .header {
        
        height: 10vh;
    }

    .box p {
        display: none;
    }

    .low {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .main {
        height: 30vh;
        width: 100vw;
        background-position: center;
    }

    .gif {
        display: none;
    }

    .fdiv {
        margin: 0;
        padding: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0;
        font-size: 75%;
        height: 80vh;
        margin: 0;
       
    }

    .fdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fdiv p{
        font-size: 25px;
    }

    .fdiv a{
        font-size: 15px;
    }

    .about img {
        display: block;
        margin-right: 30px;
    }

    /* dm responsive css */
    .index{
        display: none;
    }

    .blue_strip p{
        font-size: 20px;
    }

    .practice_set img{
        height: 8vh;
        width: 90vw;
    }

    .main_subject{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .card button{
        height: 5vh;
        width: 60vw;
    }

    .blue_strip{
        
        height: 10vh;
    }
    
    .main_about{
        
        height: 270vh;
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        display: flex;
        flex-wrap: wrap;
        
    }

    .box_about1,.box_about2,.box_about3,.box_about4,.box_about5{
        
        display: flex;
        height: 50vh;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .p_about{
        /* width: 80%; */
        margin: auto;
        text-align: center;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .img_about{
        margin-top: 30px;
    }

    .dropdown a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: 00;
    }
   

 

}